<h1>Statistics</h1>

<p>
  The most popular house is: <b><%= @most_popular_house.name %></b>
</p>
<p>
  The most successful year is: <b><%= @most_successful_year %></b>
</p>

<p><%= link_to 'Back', bookings_path %></p>
