<div class='booking'>
  <div class='booking-day'>
    <%= booking.day %>
  </div>
  <div class="booking-house">
    <%= link_to booking.house.name, '#' %>
  </div>
  <div class="number-of-guests">
    <%= link_to booking.number_of_guests %>
  </div>
</div>
