<h1>Book-My-House</h1>
<p><%= link_to 'Book the house!', new_booking_path %></p>
<p>
  ...or check whether the house is booked already
  <%= link_to 'here!', new_query_path %>
</p>

<p>
  ...or check the statistics page
  <%= link_to 'here!', statistic_path %>
</p>

<h2>The full list of bookings:</h2>
<div class='bookings'>
  <% if @bookings.any? %>
    <%= render @bookings %>
  <% else %>
    There is no booking yet.
  <% end %>
</div>
