<h1>Is it booked?</h1>

<%= form_for :booking, url: query_path do |f| %>
  <%= f.date_select :day, selected: @day || Date.today %>
  <%= f.submit 'Check' %>
<% end %>

<p><%= link_to 'Back', bookings_path %></p>

<p id='booked-result'>
  <% if @booked %>
    The house is booked for the selected day :(
  <% elsif !@booked.nil? %>
    Yay! You can book the house on the selected day!
  <% end %>
</p>
